PLEX_URL=http://192.168.1.x:32400
PLEX_TOKEN=your_plex_token_here
PLEX_MUSIC_LIBRARY=Music
LASTFM_API_KEY=your_lastfm_api_key_here
LIDARR_URL=http://192.168.1.x:8686
LIDARR_API_KEY=your_lidarr_api_key_here
